.top-banner{
    background-image: url("Images/donation13.jpg");
    background-repeat: no-repeat;
    height: 650px;
}

.white, .heading-text, .link-button{
    text-align: center;
    color: white;
}

.white{
    font-size: 55px;
    padding: 90px 400px 0px;
    margin-top: 0px;
}

.bold{
    font-weight: 700;
}

.text-content{
    letter-spacing: 1px;
    padding: 0px 300px 30px;
}

.link-button{
    margin: 45%;
    text-decoration: none;
    background-image: linear-gradient(#E74C3C,#E74C3C);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}


/* <!-- Five box section --> */
.grey{
    color: rgb(103, 101, 101);
}
.font{
    font-size: 40px;
}
.donation-section{
    margin-top: 55px;
    height: 600px;
}

.text-spacing{
    letter-spacing: 1px;
}
.text{
    text-align: center;
    padding: 50px 400px 30px;
}
.box{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 20% 60px;
    width: 60%;
}
.box1{
    background-color: rgb(248, 242, 242);
    width: 150px;
    height: 130px;
    border-radius: 5px;
}

.taka{
    text-align: center;
    margin: 42px 0px;
    font-size: 35px;
}

.color-orange{
    color: rgb(214, 109, 71);
}

.orange{
    border: 2px solid rgb(197, 74, 30);
    background-color: rgb(233, 213, 206);
}

.input-ammount{
    margin-bottom: 35px;
}

input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 25%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid silver;
  }

/* --------section two close-------- */


/* Donation plan section */
.donation-plan{
    height: 620px;
    margin-top: 25px;
}


.boxes{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 15% 60px;
    
}
.box-box{
    background-color: rgb(248, 242, 242);
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.box-text{
    margin-left: 15px;
    margin-right: 10px;
}

.image{
    padding: 15px;
}

.box-one{
    background-color: #EDF5F6;
}

.box-two{
    background-color: #FFEEEE;
}

.box-three{
    background-color: #FFF4D6;
}

/* Donation plan section close */


/* <!-- two column --> */
.row-one{
    display: flex;
    margin: 5%;
    height: 450px;
}

.part-one{
    width: 50%;
}

.image-one{
    background-image: url("Images/donation9.jpg");
   background-repeat: no-repeat;
   overflow: hidden;
   height: 400px;
   width: 50%;
}

.title{
    padding: 0px 10px;
}

.content{
    margin: 0px 0px 20px 10px;
    padding: 0px 10px 20px;
}

.link-button-one{  
    margin: 18px;
    text-decoration: none;
    background-image: linear-gradient(#E74C3C,#E74C3C);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}

/* ---------------------- */

.image-two{
   background-image: url("Images/donation0.jpg");
   background-repeat: no-repeat;
   overflow: hidden;
   height: 400px;
   width: 50%;
   margin: 0px 40px 0px 0px;
}
/* <!-- two column close--> */


/* update section */

.update-text{
    text-align: center;
    padding: 0px 400px 30px;
}

.mail-box{
    height:20px ;
    justify-content: center;
    border-radius: 5px;
    display: flex;
}

.submit-button{
    background-image: linear-gradient(#E74C3C,#E74C3C);
    padding: 10px 20px;
}
/* update section close */


.footer{
    background-color: black;
    color: white;
    height: 250px;
    text-align: center;
}

.footer-title{
    padding-top: 40px;
}

.footer-title{
    color: #FF5959;
}